/* Magic CSS that centers the main element. Taken from here: https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
main {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Rules for main */

#search-box {
    width: 582px;
    height: 44px;
}

/* Magic CSS that centers the logo and buttons in relation to main. Taken from here: https://css-tricks.com/centering-css-complete-guide/ */
/* The reason for not including the search-box: It seems to define the width of main, and as such is already centered */
.logo, .search-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

}

/* Rules for nav */

ul {
  float: right;
  list-style-type: none;
}

li {
  display: inline;
}

.sign-in-button {
  width: 71px;
  height: 30px;
  background-color:#4285f4;
}