main {
  /* Magic CSS that centers the main element. Taken from here: https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#search-box {
    width: 582px;
    height: 44px;
}

.logo, .search-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

}